<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>useion - a tool for inter-language USE case driven modularizatION</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <p>
        Select a use case.
      </p>
      <ul>

      <% if (usecases.length === 0) { %>
          <li>No use cases :-(</li>
      <% } %>

      <% usecases.forEach(function(usecase) { %>
          <li><a href="/<%= usecase.id %>.html"><%= usecase.name %></a></li>
      <% }); %>

      </ul>
    </div>
  </div>
</div>

</body>
</html>
